Xft.dpi: 132

! rofi
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-urgent: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-active: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-window: #2f343f, #9575cd

