!Xft.dpi: 144
!Xft.dpi: 132
!Xft.dpi: 120
!Xft.dpi: 96

! https://wiki.manjaro.org/index.php?title=Improve_Font_Rendering
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! rofi
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-urgent: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-active: #2f343f, #f3f4f5, #2f343f, #2f343f, #9575cd
rofi.color-window: #2f343f, #9575cd

